@font-face {
    font-family: 'Varela';
    src: url('./varela.ttf') format('ttf'),
    url('./varela.ttf') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'Varela';
}

.hello img{
    width: 200px;
    display: block;
}